<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonthEnd.My.MySettings.MonthEndConnectionString" connectionString="Data Source=CHPSQL\CHPSQLDB;Initial Catalog=MonthEnd;Persist Security Info=True;User ID=sa2;Password=Cypress1"
            providerName="System.Data.SqlClient" />
        <add name="MonthEnd.My.MySettings.NXHealth" connectionString="Data Source=CHPSQL\CHPSQLDB;Initial Catalog=NXHealth;Persist Security Info=True;User ID=sa2;Password=Cypress1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>